/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");

:root {
  --nav-bar-height: 80px;

  /* Global variables */
  --shadow-color--rgb: 235, 235, 235;
}

body {
  /* Box-model */
  @apply m-0;
  padding-top: var(--nav-bar-height);
  /* Typography */
  font-family: "Source Sans Pro";
}

html {
  /* Box-model */
  @apply h-full w-full;
  /* Misc */
  @apply overflow-x-hidden;
}

h1 {
  @apply text-gray-500 text-xl tracking-wide uppercase;
}

h2 {
  @apply text-gray-400 text-sm tracking-widest uppercase;
}

h3 {
  @apply text-gray-500 text-sm font-bold normal-case;
}

h4 {
  @apply text-gray-400 text-xs uppercase;
}

/* All Pages */

app-section-container + app-section-container > section {
  @apply pt-6;
}

.base {
  @apply h-full px-12 w-full;
}
