<div id="home">

  <!-- Trending -->
  <section id="trending">
    <app-section-header title="Trending" [options]="trendingOptions"></app-section-header>
    <div class="section__body">
      <div class="card" *ngFor="let book of books">
        <div class="card__image"></div>
        <div class="card__content">
          <h2 class="card__title">Title</h2>
          <h3 class="card__subtitle">Author</h3>
        </div>
      </div>
    </div>
    <div class="section__footer">
      <span class="section__footer__more">
        <h2 class="mx-2">View All</h2>
        <h2>
          <i class="fas fa-angle-double-right"></i>
        </h2>
      </span>
    </div>
  </section>

  <!-- New -->
  <section id="new">
    <app-section-header title="New"></app-section-header>
    <div class="section__body">
      <div class="card" *ngFor="let book of books">
        <div class="card__image"></div>
        <div class="card__content">
          <h2 class="card__title">Title</h2>
          <h3 class="card__subtitle">Author</h3>
        </div>
      </div>
    </div>
    <div class="section__footer">
      <span class="section__footer__more">
        <h2 class="mx-2">View All</h2>
        <h2>
          <i class="fas fa-angle-double-right"></i>
        </h2>
      </span>
    </div>
  </section>

</div>