<div id="home">

  <!-- Trending -->
  <section id="trending">
    <div class="section__header">
      <h1 class="section__header__title">
        Trending
      </h1>
      <span class="section__header__scope">
        <h2 class="mr-2">
          International
        </h2>
        ⦁
        <h2 class="mx-2">
          Canada
        </h2>
        ⦁
        <h2 class="ml-2">
          My Network
        </h2>
      </span>
    </div>
    <div class="section__body">
      <div class="card" *ngFor="let book of books">
        <div class="card__image"></div>
        <div class="card__content">
          <h2 class="card__title">Title</h2>
          <h3 class="card__subtitle">Author</h3>
        </div>
      </div>
    </div>
    <div class="section__footer">
      <div class="section__footer__more">
        <h2>View All</h2>
        <i class="fas fa-angle-double-right"></i>
      </div>
    </div>
  </section>

  <!-- New -->
  <section id="new">
    <div class="section__header">
      <h1 class="section__header__title">
        New
      </h1>
    </div>
    <div class="section__body">
      <div class="card" *ngFor="let book of books">
        <div class="card__image"></div>
        <div class="card__content">
          <h2 class="card__title">Title</h2>
          <h3 class="card__subtitle">Author</h3>
        </div>
      </div>
    </div>
    <div class="section__footer">
      <div class="section__footer__more">
        <h2>View All</h2>
        <i class="fas fa-angle-double-right"></i>
      </div>
    </div>
  </section>

</div>